@* type=react *@
@using Bridge.Html5
@inherits Bridge.Razor.React.RazorComponent

Lalala
<div id="wut">
    <span>Test</span>
    <br/>
    Test2
    <a href="#" onClick="@(Event(_=>Window.Alert("Hello from C#")))">My link</a>
</div>